*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
        background-image: url("medias/background\ 22.jpg");
        background-size: cover;
        background-repeat: repeat;
    }
header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: #fff;    
    padding: 20px 10px;
}

.navbar ul {
    margin-left: 50px;
    display: flex;
    list-style: none;
}
.navbar ul a {
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 25px;
    color: maroon;
}
.reseau {
    margin-top: 100px; /* Marge supérieure pour séparer du contenu précédent */
}
.reseau a img {
    width: 30px; 
    height: 30px; 
}
.box {
    color: #fff;
    text-align: center; 
    max-width: 250px; /* Définir une largeur maximale pour la boîte */
    margin: 0 auto; /* Centrer la boîte horizontalement */
}
.box img {
    max-width: 80%; /* Ajuster la largeur de l'image à la largeur de la boîte */
    height: auto; /* Conserver le ratio hauteur/largeur de l'image */
}
.video-container {
    display: flex;
    justify-content: flex-end; /* Centrer horizontalement */
    margin-bottom: 20px;
}
.travaux {
    color: #fff;
    text-align: center;
}
.realisations-list {
    display: flex;
    justify-content: center; 
    gap: 5px; /* Espacement entre les éléments */

}
.realisations-list a {
    color: #fff;
}

.realisations-list .box {
    transition: 0.5s ease-out;
    cursor: pointer;
}
.realisations-list .box:hover {
    transform: scale(1.05);
}
.box {
    text-align: left; 
    max-width: 300px;
    text-transform: uppercase;
    
}
.box h3 {
    margin: 10px 0; /* Espacement */
}
.box img {
    max-width: 100%; 
    height: auto; 
}
.footer {
    margin-top: 10%;
    background-color: #fff;
    color: maroon;
    padding: 20px 0; /* Supprimer le padding horizontal */
    text-align: center;
    width: 100%;
    position: relative; 
    margin-bottom: 0; 
}
.footer a {
    
    color: maroon;
}
.footer h3 {
    text-align: center;
}
.footer .mon-cv {
    text-align: end;
}