$nesting
.realisation-list {
    display: flex;
    justify-content: center;
    gap: 5px;

    .realisation-list a {
        color: black;
    }
    .realisation-list .box {
        transition: 0.5s ease-in-out;
        cursor: pointer;

    }
    .realisation-list .box:hover {
        transform: scale(1.05);
    }
}
